
/*
-- A color pallet for webapps
--      By Nicola Migliore (nicola.migliore@hotmail.it)
*/


:root{

    /*--- Greys ---*/
    --grey-1 : rgb(35, 35, 35);
    --grey-2 : rgb(65, 65, 65);
    --grey-3 : rgb(95, 95, 95);
    --grey-4 : rgb(125, 125, 125);
    --grey-5 : rgb(155, 155, 155);
    --grey-6 : rgb(185, 185, 185);
    --grey-7 : rgb(215, 215, 215);
    --grey-8 : rgb(245, 245, 245);

    /*--- Primary ---*/

    --primary-1 : rgb(0,132,132);
    --primary-2 : rgb(0,162,162);
    --primary-3 : rgb(0,192,192);
    --primary-4 : rgb(16, 222, 222);
    --primary-5 : rgb(46,252,252);
    --primary-6 : rgb(76,225,225);
    --primary-7 : rgb(106,225,225);
    --primary-8 : rgb(136,225,225);

    /*--- Secondary ---*/
    --secondary-1 : rgb(130,0,0);
    --secondary-2 : rgb(160,12,0);
    --secondary-3 : rgb(190,42,30);
    --secondary-4 : rgb(220, 72, 60);
    --secondary-5 : rgb(250,102,90);
    --secondary-6 : rgb(225,132,120);
    --secondary-7 : rgb(225,162,150);
    --secondary-8 : rgb(225,192,180);

    /*--- Success ---*/
    --success-1 : rgb(0,80,0);
    --success-2 : rgb(0,110,0);
    --success-3 : rgb(0,140,0);
    --success-4 : rgb(0,170,20);
    --success-5 : rgb(0,200,50);
    --success-6 : rgb(30,225,80);
    --success-7 : rgb(60,225,110);
    --success-8 : rgb(90,225,140);

    
    
    
    
    
    
    
    
    

/*
    --primary-1 : rgb(0,37,45);
    --primary-2 : rgb(0,67,75);
    --primary-3 : rgb(1,97,105);
    --primary-4 : rgb(31, 127, 135);
    --primary-5 : rgb(61, 157, 165);
    --primary-6 : rgb(91,187,195);
    --primary-7 : rgb(121,217,225);
    --primary-8 : rgb(151,225,225);

    --secondary-1 : rgb(135,8,0);
    --secondary-2 : rgb(165,38,0);
    --secondary-3 : rgb(195,68,4);
    --secondary-4 : rgb(225, 98, 34);
    --secondary-5 : rgb(255, 128, 64);
    --secondary-6 : rgb(225,158,94);
    --secondary-7 : rgb(225,188,124);
    --secondary-8 : rgb(225,218,154);
*/











    --stat-new : rgba(165, 110, 20, 1);
    --stat-new-back : rgba(238, 174, 72, 0.5);
    --stat-wip : rgba(190, 170, 40, 1);
    --stat-wip-back : rgba(250, 225, 50, 0.5);
    --stat-done : rgb(95, 190, 40);
    --stat-done-back : rgba(140, 250, 50, 0.5);
  
    --n-new : rgb(30, 235, 190);
    --n-wip : rgb(250, 187, 50);
    --n-done : rgb(30, 235, 40);
  
    --input-back-primary : rgb(200,200,200);
    --input-back-secondary : rgb(210,210,210);
  
    --input-det-primary : rgb(100,150,100);
  
  }
